[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fingerprint-enhancer = "*"
scikit-learn = "==1.2.2"
keras = "==2.15.0"
numpy = "==1.25.2"
imgaug = "==0.4.0"
tensorflow-gpu = "==1.5"

[dev-packages]

[requires]
python_version = "3.10"
